body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mainButton {
  background-color: black;
  color: white;
  padding: 5px 40px;
  cursor: pointer;
  border-radius: 18px;
  transition: background-color linear 800ms;
}

.mainButton:hover {
  background-color: red;
  color: white;
}

.single-image {
  display: flex;
  padding: 50px;
  max-height: 700px;
  justify-content: center;
}

#single-container {
  display: flex;
}

.style-link {
  color: red;
}

.style-link:hover {
  color: black;
}

.discount-percent {
  color: white;
  padding: 3px;
  margin: 10px;
  font-size: 18px;
}

.shopping-cart-container {
  position: relative;
}

.clear-cart-button {
  position: absolute;
  top: 2px;
  right: 2px;
}

.footer-container {
  display: flex;
  flex-direction: row;

  margin: 0 auto;
  font-size: 20px;
}

.footer-link {
  margin: 10px;
  color: white;

  text-decoration: none;
}

.footer-link:hover {
  color: red;
}

.footer-copyright {
  font-size: 16px;
  color: white;
}

.prices {
  display: flex;
  flex-direction: column;
}

.cart-buttons-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.cart-buttons {
  margin: 2px;
}

@media screen and (max-width: 800px) {
  .footer-container {
    font-size: 18px;
  }
}

@media screen and (max-width: 800px) {
  .footer-copyright {
    font-size: 12px;
  }
}

@media screen and (max-width: 700px) {
  .prices {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .cart-buttons {
    flex-direction: row;
    font-size: 15px;
  }
}

@media screen and (max-width: 800px) {
  #single-container {
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 1px;
  }
}

@media screen and (max-width: 800px) {
  #single-title {
    font-size: 20px;
  }
}

@media screen and (max-width: 800px) {
  #single-text {
    font-size: 16px;
  }
}

@media screen and (max-width: 800px) {
  .single-image {
    display: flex;
    max-height: 300px;
    
    padding: 20px;
    
  }
}
